<div class="header-container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-darkblue">
        <div class="container">
            <a class="navbar-brand" target="_top" href="https://www.hellenic-milsim.community/">{{ site.title }}</a>

            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="https://www.hellenic-milsim.community/">Forum</a>
                    <span class="sr-only">(current)</span>
                </li>

                {% for item in site.data.nav %}
                <li class="nav-item">
                    <a class="nav-link" target="_top" href="{{ site.url }}{{ item.href }}">{{ item.name }}</a>
                </li>
                {% endfor %}

            </ul>

            <form class="form-inline  my-2 my-sm-0" style="width:74px" action="https://www.paypal.com/cgi-bin/webscr"
                  method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="EDUZSUL934Y3G">
                <button class="btn btn-sm my-2 my-sm-0 btn-paypal" type="submit" border="0" name="submit"
                        alt="PayPal - The safer, easier way to pay online!"><i class="fa fa-paypal"
                                                                               aria-hidden="true"></i>
                    Donate
                </button>
                <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
            </form>

        </div>
    </nav>
</div>
